
body 
{
   font-family: "times";
}
body 
{
   font-size: large;
}
p 
{
   font-size: 16px;
}
body
{
  background-color:green ;
}
.gras 
{
   font-weight: bold;
}
.italique 
{
  font-style: italic;
}
body
{
   color:gold
}